main{
	height: 100%;
}
main .container{
	text-align: left;
	line-height: 35px;
	overflow: hidden;
}
main .container .users img{
	border-radius: 50%;
	width:100px;
	height: 100px;
	
}
main .container .users .profile-box{
	float: left;
	width:100%;
	
	margin:20px 0;

}
main .container .users .profile-box p{
	
	margin:30px 10px;
	
}
main .container .users .unfollow{
	 
  padding: 9px 25px;
  color:#fff;
  background:#66BD2B;
  transition:all 0.5s ease;
  font-weight: lighter;
  letter-spacing: 2px;
}
main .container .users .unfollow:hover{
	text-decoration: none;
	
}
main .container .users .follow{
  padding: 9px 25px;
  color:#fff;
  background:cornflowerblue;
  transition:all 0.5s ease;
  font-weight: lighter;
  letter-spacing: 2px;
}
main .container .users .follow:hover{
	text-decoration: none;
}

main .container .profile .stats{
	font-size: 20px;
	margin-right: 15px;
	color:rgba(39, 39, 39, 0.84);
}
main .container .profile .stats span{
	font-size: 22px;
	color:#000;
}
main .container .profile .stats:hover{
	text-decoration: none;
}
main .container .profile .fa{
	font-size: 25px;
	
	margin:20px 4px;

}
main .container .profile .send-message{
	float: right;
}
.fa-facebook{
	color:#fff;
	background:#3A5795;
	padding: 10px 12px;
	border-radius: 50%;
	width:40px;
	height: 40px;
}
.fa-twitter{
	color:#fff;
	background:#55ACEE;
	padding: 10px 9px;
	border-radius: 50%;
	width:40px;
	height: 40px;
}
.fa-google-plus{
	color:#fff;
	background:#E46E5E;
	padding: 10px 9px;
	border-radius: 50%;
	width:40px;
	height: 40px;
}
.fa-linkedin{
	color:#fff;
	background:#0D7BAE;
	padding: 8px 9px;
	border-radius: 50%;
	width:40px;
	height: 40px;
}
.fa-github{
	color:#fff;
	background:#323131;
	padding: 9px 9px;
	border-radius: 50%;
	width:40px;
	height: 40px;
}
.site{
	width:50px;
	height: 50px;

}
.modal-body{
	text-align: left;
}
.modal-body .modal-users img{
	border-radius: 50%;
	width: 70px;
	height: 70px;
	float: left;
	margin-right: 15px;
}
.modal-body .modal-users{
	
	display: block;
	height: 105px;
}
.modal-body .modal-users .followship{
	float: right;
}
.modal-body .modal-users .unfollow{
	 padding: 9px 25px;
  color:#fff;
  background:#66BD2B;
  transition:all 0.5s ease;
  font-weight: lighter;
  letter-spacing: 2px;
}
.modal-body .modal-users .unfollow:hover{
text-decoration: none;
	
}
.modal-body .modal-users .follow{
	  padding: 9px 25px;
  color:#fff;
  background:cornflowerblue;
  transition:all 0.5s ease;
  font-weight: lighter;
  letter-spacing: 2px;
}

.modal-body .modal-users .follow:hover{
text-decoration: none;

}
.label{
	font-weight: lighter;
}



.tab-panels{
	height:90%;
	background:#EEF2F5;
	display: inline-block;
	border-right:1px solid #c3cfd9;
	border-left:1px solid #c3cfd9;
	border-bottom: 1px solid #c3cfd9;
	border-top: 1px solid #c3cfd9;
}
.tab-panels ul{
      margin:0;
      padding: 0;
		width:299px;	
		height: 100%;
		float: left;
		border-right: 1px solid #c3cfd9;
    }
    .tab-panels ul li{
      list-style: none;
      display: block;
      background:#FBFBFB;
		width: 299px;
      padding:6px 15px;
     border-bottom:1px solid #c3cfd9;
	
      color:#fff;
      font-weight: 700;
		position: relative;
      cursor: pointer;
      	 
    }
    .tab-panels ul li i{
   right: 15px;
   font-size: 20px;
	position: absolute;
	top: 13px;	 
    }
    .tab-panels ul li:hover i{
   right: 12px;
   font-size: 21px;
	position: absolute;
	top: 13px;	 
	transition:all 0.2s ease;
    }
    .tab-panels ul li.active-tab{
      color:#06365f;
      background:#F1F2F4;
	
    }
    a{
    	color:#3f729b;
    }
    .tab-panels ul li.active-tab a{
      color:#06365f;
    }
    .tab-panels ul li a:hover{
   	text-decoration: none;
	
    }
    .tab-panels .panel{
      display: none;
      background:#fff;
  	border:0;
	height: 100%;
	float: right;
	width:838px;
	padding:0px 45px;
	border-radius: 0;
	border-left: 1px solid #c3cfd9;
    }
    .tab-panels .panel h2{
    	color:#06365F;
      text-align: center;
    }
    .tab-panels .panel .input-group{
    	display: flex;
    }
    .tab-panels .panel .input-group label{
    	width:150px;
    }
    .tab-panels .panel .input-group input{
    	width:500px;
    	height: 35px;
    }
    .tab-panels .panel .input-group textarea{
    	width:500px;
    	height: 177px;
    }
.tab-panels .panel.active-panel{
      display: block;
      margin-bottom: 0;
    }
    .tab-panels .panel .button-file{
    	border-radius: 50%;
    	display: table;
    	position: relative;
    	background-color: #234465;
    	text-align: center;
    	cursor: pointer;
    	width: 164px;
    	height: 164px;
    	overflow: hidden;
    }
    .tab-panels .panel .button-file input[type=file]{
    	position: absolute;
    	top:0;
    	right: 0;
    	min-width: 100%;
    	min-height: 100%;
    	font-size: 100px;
    	text-align: right;
    	opacity: 0;
    	outline: none;
    	cursor: inherit;
    	display: block;
    	background:red;
    	width: 164px;
    	height: 164px;
    }
    .tab-panels .panel .button-file img{
    	width:100%;
    	opacity: .2;
		height: 100%;
    }
    .tab-panels .panel .button-file .text-wrap{
    	position: absolute;
    	top: 0;
    	bottom:0;
    	height: 100%;
    	width:100%;
    	text-align: center;
    	cursor: pointer;
    }
    .tab-panels .panel .button-file .text-wrap .table-holder{
    	height: 100%;
    	width: 100%;
    }
    .tab-panels .panel .button-file .text-wrap .table-holder .upload-text{
    	font-size: 16px;
    	color:#fff;
    	display: block;
    	vertical-align: middle;
    	margin-top: 40px;
    	font-weight: 600;
    	cursor: pointer;
    }
    .tab-panels .panel .button-file .text-wrap .table-holder .upload-text i{
    	margin-right: 5px;
    	font-size: 30px;
    	display: block;
    }